@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}
html {
    background-image: url(../image/book-bg.jpg);
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5.5rem;
}

body {
    margin: 16px;
}
.form {
    border: 3px solid #777777;
 
    border-radius: 5px;
}


.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}
.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
 .cancelbtn {
     width: 100%;
 }
}



.info{
    font-weight: bold;
    font-size: 18px;
}
